<script>
import { computed } from 'vue';
import { useTaskStore } from '../store';
import InboxScreen from './InboxScreen.vue';

// a container component

export default {
  name: 'InboxScreenContainer',
  components: { InboxScreen },
  setup() {
    // creates a store instance
    const store = useTaskStore();

    // retrieves the error from the store's state
    const isError = computed(() => store.status === 'error');
    return {
      isError,
    };
  },
};
</script>

<template>
  <InboxScreen :error="isError" />
</template>
