<script>
import TaskListContainer from './TaskListContainer.vue';

// a screen (may be presentational, but contains the container component)

export default {
  name: 'InboxScreen',
  components: { TaskListContainer },
  props: {
    error: { type: Boolean, default: false },
  },
};
</script>

<template>
  <div>
    <div v-if="error" class="page lists-show">
      <div class="wrapper-message">
        <span class="icon-face-sad" />
        <p class="title-message">Oh no!</p>
        <p class="subtitle-message">Something went wrong</p>
      </div>
    </div>
    <div v-else class="page lists-show">
      <nav>
        <h1 class="title-page">Taskbox</h1>
      </nav>
      <TaskListContainer />
    </div>
  </div>
</template>
