<script>
import { computed } from 'vue';
import { useTaskStore } from '../store';
import TaskList from './TaskList.vue';

// a container component (deals with state and effects,
// delegates rendering to presentational components)

export default {
  components: { TaskList },
  name: 'TaskListContainer',
  setup() {
    // creates a store instance
    const store = useTaskStore();

    // retrieves the tasks from the store's state auxiliary getter function
    const tasks = computed(() => store.getFilteredTasks);

    // dispatches the actions back to the store
    const archiveTask = (task) => store.archiveTask(task);
    const pinTask = (task) => store.pinTask(task);

    return {
      tasks,
      archiveTask,
      pinTask,
    };
  },
};
</script>

<template>
  <TaskList :tasks="tasks" @archive-task="archiveTask" @pin-task="pinTask" />
</template>
