<template>
    <Story title="Example/Cars" :layout="{ type: 'grid', width: 200 }">
        <Variant title="default"> 🚗 </Variant>
        <Variant title="Fast"> 🏎️ </Variant>
        <Variant title="Slow"> 🚜 </Variant>
    </Story>
</template>
