<script lang="ts" setup>
    import { reactive, ref } from 'vue';
    import { logEvent } from 'histoire/client';

    const state = reactive({
        disabled: false,
        content: 'Hello world',
    });

    const message = ref('Meow!');
</script>

<template>
    <Story>
        <Variant>
            <button
                :disabled="state.disabled"
                @click="logEvent('Click', $event)"
            >
                {{ state.content }}
            </button>
            <input v-model.number="message" />
        </Variant>
        <!-- can also be provided for one variant -->
        <template #controls>
            <!-- any control will do, but there are ones that fit well -->
            <!-- Content: <input type="text" v-model="state.content" /> -->
            <!-- Disabled: <input type="checkbox" v-model="state.disabled" /> -->
            <HstText v-model="state.content" title="Content" />
            <HstCheckbox v-model="state.disabled" title="Disabled" />
        </template>
    </Story>
</template>
