<script setup lang="ts">
    import { inject } from 'vue';

    const injected = inject('key', 'whoa');
</script>

<template>
    <div
        class="p-8 rounded-xl bg-gray-50 dark:bg-gray-700 text-black dark:text-white"
    >
        {{ injected }}
    </div>
</template>
