<docs lang="md">
## My documentation

Checkout this [cool video](https://www.youtube.com/watch?v=dQw4w9WgXcQ)!
</docs>

<script setup lang="ts">
    import Inject from './Inject.vue';
</script>

<template>
    <Story title="Example/Inject">
        <Inject />
    </Story>
</template>
