<docs lang="md">
# Welcome

This is a demo book using Vue 3.

---

Learn more about Histoire [here](https://histoire.dev/).
</docs>

<template>
    <Story docs-only icon="carbon:bookmark" />
</template>
