<docs lang="md">
# Button

Used to launch an action but also to link to other pages.
</docs>
<script lang="ts" setup>
    import type {
        ButtonSize,
        ButtonVariant,
    } from 'flowbite-vue/components/FwbButton/types.js';
    import { ref } from 'vue';
    import { logEvent } from 'histoire/client';
    import { FwbButton } from 'flowbite-vue';
    import ArrowRight from '../icons/ArrowRight.vue';
    import ShoppingCart from '../icons/ShoppingCart.vue';

    const sizes = [
        { size: 'xs', text: 'Extra small' },
        { size: 'sm', text: 'Small' },
        { size: 'md', text: 'Medium' },
        { size: 'lg', text: 'Large' },
        { size: 'xl', text: 'Extra large' },
    ];

    const colors = [
        'default',
        'alternative',
        'dark',
        'light',
        'green',
        'red',
        'yellow',
        'purple',
        'pink',
    ];

    const loading = ref(false);
</script>

<template>
    <Story
        title="Input/Button"
        group="flowbite"
        :layout="{ type: 'grid', width: 200 }"
    >
        <Variant v-for="variant in sizes" title="Size" :key="variant.size">
            <fwb-button
                :size="(variant.size as ButtonSize)"
                @click="logEvent('Click', $event)"
            >
                {{ variant.text }}
            </fwb-button>
        </Variant>

        <Variant title="Color" v-for="color in colors" :key="color">
            <fwb-button :color="(color as ButtonVariant)">
                <span class="capitalize">{{ color }}</span>
            </fwb-button>
        </Variant>

        <Variant title="Pill">
            <fwb-button color="default" pill>Default</fwb-button>
        </Variant>

        <Variant title="Gradient (monochrome)">
            <fwb-button gradient="blue">Blue</fwb-button>
        </Variant>

        <Variant title="Gradient (duotone)">
            <fwb-button gradient="pink-orange">Pink to orange</fwb-button>
        </Variant>

        <Variant title="Outline">
            <fwb-button color="default" outline>Default</fwb-button>
        </Variant>

        <Variant title="Outline (gradient)">
            <fwb-button gradient="purple-pink" outline
                >Purple to pink</fwb-button
            >
        </Variant>

        <Variant title="Shadow">
            <fwb-button gradient="blue" shadow="red"
                >Blue with red</fwb-button
            >
        </Variant>
        <Variant title="Shadow">
            <fwb-button gradient="blue" shadow>Blue with blue</fwb-button>
        </Variant>

        <Variant title="Square">
            <fwb-button gradient="red-yellow" square>
                <ArrowRight class="w-5 h-5" />
            </fwb-button>
        </Variant>
        <Variant title="Square, Pill">
            <fwb-button color="default" pill square>
                <ArrowRight class="w-5 h-5" />
            </fwb-button>
        </Variant>

        <Variant title="Loading, suffix">
            <fwb-button
                :loading="loading"
                color="default"
                loading-position="suffix"
                outline
                @click="loading = !loading"
            >
                Click me
                <template #suffix>
                    <ArrowRight class="w-5 h-5" />
                </template>
            </fwb-button>
        </Variant>
        <Variant title="Disabled">
            <fwb-button gradient="red" disabled>Red gradient</fwb-button>
        </Variant>
        <Variant title="href">
            <fwb-button href="https://google.com" target="_blank"
                >Google.com</fwb-button
            >
        </Variant>
        <Variant title="Prefix">
            <fwb-button>
                <template #prefix>
                    <ShoppingCart class="w-5 h-5" />
                </template>
                Buy
            </fwb-button>
        </Variant>
    </Story>
</template>
