<docs lang="md">
# Card

Used to show data entries and information to users in multiple forms and
contexts such as blogs, applications, and user profiles.
</docs>

<script lang="ts" setup>
    import { FwbCard } from 'flowbite-vue';
</script>

<template>
    <Story
        title="Display/Card"
        group="flowbite"
        :layout="{ type: 'grid', width: 600 }"
    >
        <Variant title="Text">
            <fwb-card href="#">
                <div class="p-5">
                    <h5
                        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                    >
                        Noteworthy technology acquisitions 2021
                    </h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">
                        Here are the biggest enterprise technology
                        acquisitions of 2021 so far, in reverse chronological
                        order.
                    </p>
                </div>
            </fwb-card>
        </Variant>
        <Variant title="Image">
            <fwb-card
                img-alt="Desk"
                img-src="https://flowbite.com/docs/images/blog/image-1.jpg"
                variant="image"
            >
                <div class="p-5">
                    <h5
                        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                    >
                        Noteworthy technology acquisitions 2021
                    </h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">
                        Here are the biggest enterprise technology
                        acquisitions of 2021 so far, in reverse chronological
                        order.
                    </p>
                </div>
            </fwb-card>
        </Variant>
        <Variant title="Horizontal image">
            <fwb-card
                img-alt="Desk"
                img-src="https://flowbite.com/docs/images/blog/image-4.jpg"
                variant="horizontal"
            >
                <div class="p-5">
                    <h5
                        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                    >
                        Noteworthy technology acquisitions 2021
                    </h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">
                        Here are the biggest enterprise technology
                        acquisitions of 2021 so far, in reverse chronological
                        order.
                    </p>
                </div>
            </fwb-card>
        </Variant>
    </Story>
</template>
