<docs lang="md">
# Dropdown

Used to show a list of menu items when clicking on an element such as a button
and hiding it when focusing outside of the triggering element.

## ListGroup, ListGroupItem

Used to display a series of elements, buttons or links inside a single card component.
</docs>

<script lang="ts" setup>
    import type { DropdownPlacement } from 'flowbite-vue/components/FwbDropdown/types.js';
    import {
        FwbDropdown,
        FwbListGroup,
        FwbListGroupItem,
    } from 'flowbite-vue';

    const placements = ['top', 'bottom', 'left', 'right'];
</script>

<template>
    <Story
        title="Input/Dropdown"
        group="flowbite"
        :layout="{ type: 'grid', width: 360 }"
    >
        <Variant
            title="Placement"
            v-for="placement in placements"
            :key="placement"
        >
            <div class="relative h-48 w-72">
                <div
                    class="absolute"
                    :class="{
                        'top-0 left-0': placement === 'bottom',
                        'bottom-0 left-0': placement === 'top',
                        'left-0': placement === 'right',
                        'right-0': placement === 'left',
                    }"
                >
                    <fwb-dropdown
                        :text="placement"
                        :placement="(placement as DropdownPlacement)"
                    >
                        <fwb-list-group>
                            <fwb-list-group-item>Item #1</fwb-list-group-item>
                            <fwb-list-group-item>Item #2</fwb-list-group-item>
                            <fwb-list-group-item>Item #3</fwb-list-group-item>
                        </fwb-list-group>
                    </fwb-dropdown>
                </div>
            </div>
        </Variant>
        <Variant>
            <div class="relative h-48 w-72">
                <fwb-dropdown text="Bottom">
                    <template #trigger>
                        <span>Custom Trigger Element</span>
                    </template>
                    <fwb-list-group>
                        <fwb-list-group-item> Profile </fwb-list-group-item>
                        <fwb-list-group-item> Settings </fwb-list-group-item>
                        <fwb-list-group-item> Messages </fwb-list-group-item>
                        <fwb-list-group-item> Download </fwb-list-group-item>
                    </fwb-list-group>
                </fwb-dropdown>
            </div>
        </Variant>
    </Story>
</template>
