<docs lang="md">
# Navbar

Used to show a list of navigation links positioned on the top side
of the page.

## NavbarCollapse, NavbarLogo, NavbarLink
</docs>

<script lang="ts" setup>
    import {
        FwbNavbar,
        FwbNavbarCollapse,
        FwbNavbarLink,
        FwbNavbarLogo,
    } from 'flowbite-vue';
</script>

<template>
    <Story title="Shell/Navbar" group="flowbite">
        <Variant title="Default">
            <fwb-navbar>
                <template #logo>
                    <fwb-navbar-logo
                        alt="Flowbite logo"
                        image-url="/vite.svg"
                        link="#"
                    >
                        Flowbite
                    </fwb-navbar-logo>
                </template>
                <template #default="{ isShowMenu }">
                    <fwb-navbar-collapse :is-show-menu="isShowMenu">
                        <fwb-navbar-link is-active link="#">
                            Home
                        </fwb-navbar-link>
                        <fwb-navbar-link link="#"> Services </fwb-navbar-link>
                        <fwb-navbar-link link="#"> Pricing </fwb-navbar-link>
                        <fwb-navbar-link link="#"> Contact </fwb-navbar-link>
                    </fwb-navbar-collapse>
                </template>
            </fwb-navbar>
        </Variant>
        <Variant title="Solid">
            <fwb-navbar solid>
                <template #logo>
                    <fwb-navbar-logo
                        alt="Logo"
                        image-url="/vite.svg"
                        link="#"
                    >
                        Flowbite
                    </fwb-navbar-logo>
                </template>
                <template #default="{ isShowMenu }">
                    <fwb-navbar-collapse :is-show-menu="isShowMenu">
                        <fwb-navbar-link is-active link="#">
                            Home
                        </fwb-navbar-link>
                        <fwb-navbar-link link="#"> Services </fwb-navbar-link>
                        <fwb-navbar-link link="#"> Pricing </fwb-navbar-link>
                        <fwb-navbar-link link="#"> Contact </fwb-navbar-link>
                    </fwb-navbar-collapse>
                </template>
            </fwb-navbar>
        </Variant>
        <Variant title="Custom mobile button">
            <fwb-navbar>
                <template #logo>
                    <fwb-navbar-logo
                        alt="Logo"
                        image-url="/vite.svg"
                        link="#"
                    >
                        Flowbite
                    </fwb-navbar-logo>
                </template>
                <template #default="{ isShowMenu }">
                    <fwb-navbar-collapse :is-show-menu="isShowMenu">
                        <fwb-navbar-link is-active link="#">
                            Home
                        </fwb-navbar-link>
                        <fwb-navbar-link link="#"> Services </fwb-navbar-link>
                        <fwb-navbar-link link="#"> Pricing </fwb-navbar-link>
                        <fwb-navbar-link link="#"> Contact </fwb-navbar-link>
                    </fwb-navbar-collapse>
                </template>
                <template #menu-icon>
                    <svg
                        class="w-6 h-6"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                        />
                    </svg>
                </template>
            </fwb-navbar>
        </Variant>
    </Story>
</template>
