<docs lang="md">
# Pagination

Used to navigate across a series of content and data sets.
</docs>

<script lang="ts" setup>
    import { FwbPagination } from 'flowbite-vue';
    import { ref } from 'vue';

    const currentPage = ref(1);
</script>

<template>
    <Story
        title="Input/Pagination"
        group="flowbite"
        :layout="{ type: 'grid', width: 600 }"
    >
        <Variant title="Default">
            <div class="flex flex-col items-center">
                <fwb-pagination v-model="currentPage" :total-items="100" />
                <fwb-pagination
                    v-model="currentPage"
                    :total-items="100"
                    large
                />
            </div>
        </Variant>
        <Variant title="With icons">
            <div class="flex flex-col items-center">
                <fwb-pagination
                    v-model="currentPage"
                    :total-pages="100"
                    show-icons
                />
                <fwb-pagination
                    v-model="currentPage"
                    :total-pages="100"
                    show-icons
                    large
                />
            </div>
        </Variant>
        <Variant title="With custom length">
            <div class="flex flex-col items-center">
                <fwb-pagination
                    v-model="currentPage"
                    :total-pages="100"
                    :slice-length="4"
                />
                <fwb-pagination
                    v-model="currentPage"
                    :total-pages="100"
                    :slice-length="4"
                    large
                />
            </div>
        </Variant>
        <Variant title="Previous and next">
            <div class="flex flex-col items-center">
                <fwb-pagination
                    v-model="currentPage"
                    :total-pages="10"
                    :layout="'navigation'"
                />
                <fwb-pagination
                    v-model="currentPage"
                    :total-pages="10"
                    :layout="'navigation'"
                    large
                />
            </div>
        </Variant>
        <Variant title="With table layout">
            <div class="flex flex-col items-center">
                <fwb-pagination
                    v-model="currentPage"
                    :layout="'table'"
                    :per-page="20"
                    :total-items="998"
                    class="mb-2"
                />
                <fwb-pagination
                    v-model="currentPage"
                    :layout="'table'"
                    :per-page="20"
                    :total-items="998"
                    large
                />
            </div>
        </Variant>
        <Variant title="With custom labels">
            <div class="flex flex-col items-center">
                <fwb-pagination
                    v-model="currentPage"
                    :total-pages="100"
                    previous-label="<<<"
                    next-label=">>>"
                />
                <fwb-pagination
                    v-model="currentPage"
                    :total-pages="100"
                    previous-label="<<<"
                    next-label=">>>"
                    large
                />
            </div>
        </Variant>
        <Variant title="With slots">
            <fwb-pagination
                v-model="currentPage"
                :total-items="100"
                :show-labels="false"
            >
                <template #prev-icon>⬅️</template>
                <template #next-icon>➡️</template>
                <template #page-button="{ page, setPage }">
                    <button
                        @click="setPage(page)"
                        class="flex items-center justify-center first:rounded-l-lg last:rounded-r-lg px-3 h-8 ml-0 leading-tight text-gray-500 bg-purple-200 border border-purple-300 hover:bg-purple-300 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                    >
                        {{ page }}
                    </button>
                </template>
            </fwb-pagination>
            Current page: {{ currentPage }}
        </Variant>
    </Story>
</template>
