<docs lang="md">
# Sidebar

-   https://flowbite-vue.com/components/sidebar

Used as a complementary element relative to the navbar shown on
either the left or right side of the page.

## SidebarItemGroup, SidebarItem, SidebarDropdownItem, SidebarCta, SidebarLogo
</docs>

<script lang="ts" setup>
    import {
        FwbSidebar,
        FwbSidebarItemGroup,
        FwbSidebarItem,
        FwbSidebarDropdownItem,
        FwbSidebarCta,
        FwbSidebarLogo,
    } from 'flowbite-vue';
    import DashboardIcon from '../icons/Dashboard.vue';
    import KanbanIcon from '../icons/Kanban.vue';
    import InboxIcon from '../icons/Inbox.vue';
    import UsersIcon from '../icons/Users.vue';
    import ProductsIcon from '../icons/Products.vue';
    import SignInIcon from '../icons/SignIn.vue';
    import SignUpIcon from '../icons/SignUp.vue';

    const iconClasses =
        'flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white';
</script>

<template>
    <Story title="Shell/Sidebar" group="flowbite">
        <Variant title="Basic">
            <fwb-sidebar>
                <fwb-sidebar-logo
                    name="Flowbite"
                    logo="/vite.svg"
                    tag="router-link"
                />
                <fwb-sidebar-item>
                    <template #icon>
                        <DashboardIcon
                            :class="iconClasses"
                            aria-hidden="true"
                        />
                    </template>
                    <template #default>Dashboard</template>
                </fwb-sidebar-item>
                <fwb-sidebar-item>
                    <template #icon>
                        <KanbanIcon :class="iconClasses" aria-hidden="true" />
                    </template>
                    <template #default>Kanban</template>
                    <template #suffix>
                        <span
                            class="inline-flex items-center justify-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300"
                            >Pro</span
                        >
                    </template>
                </fwb-sidebar-item>
                <fwb-sidebar-item>
                    <template #icon>
                        <InboxIcon :class="iconClasses" aria-hidden="true" />
                    </template>
                    <template #default>Inbox</template>
                    <template #suffix>
                        <span
                            class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-100"
                            >3</span
                        >
                    </template>
                </fwb-sidebar-item>
                <fwb-sidebar-item>
                    <template #icon>
                        <UsersIcon :class="iconClasses" aria-hidden="true" />
                    </template>
                    <template #default>Users</template>
                </fwb-sidebar-item>
                <fwb-sidebar-item>
                    <template #icon>
                        <ProductsIcon
                            :class="iconClasses"
                            aria-hidden="true"
                        />
                    </template>
                    <template #default>Products</template>
                </fwb-sidebar-item>
                <fwb-sidebar-dropdown-item>
                    <template #icon>
                        <DashboardIcon
                            :class="iconClasses"
                            aria-hidden="true"
                        />
                    </template>
                    <template #trigger> E-commerce </template>
                    <template #default>
                        <fwb-sidebar-item class="pl-11">
                            Products
                        </fwb-sidebar-item>
                        <fwb-sidebar-item class="pl-11">
                            Sign In
                        </fwb-sidebar-item>
                        <fwb-sidebar-item class="pl-11">
                            Sign Up
                        </fwb-sidebar-item>
                    </template>
                </fwb-sidebar-dropdown-item>
                <fwb-sidebar-item-group border>
                    <fwb-sidebar-item>
                        <template #icon>
                            <SignInIcon
                                :class="iconClasses"
                                aria-hidden="true"
                            />
                        </template>
                        <template #default>Sign In</template>
                    </fwb-sidebar-item>
                    <fwb-sidebar-item>
                        <template #icon>
                            <SignUpIcon
                                :class="iconClasses"
                                aria-hidden="true"
                            />
                        </template>
                        <template #default>Sign Up</template>
                    </fwb-sidebar-item>
                </fwb-sidebar-item-group>
                <fwb-sidebar-cta label="Beta">
                    <p class="mb-3 text-sm text-blue-800 dark:text-blue-400">
                        Preview the new Flowbite dashboard navigation! You can
                        turn the new navigation off for a limited time in your
                        profile.
                    </p>
                    <a
                        class="text-sm text-blue-800 underline font-medium hover:text-blue-900 dark:text-blue-400 dark:hover:text-blue-300"
                        href="#"
                        >Turn new navigation off</a
                    >
                </fwb-sidebar-cta>
            </fwb-sidebar>
        </Variant>
    </Story>
</template>
