<docs lang="md">
# Spinner

Used as a loading indicator which comes in multiple colors, sizes,
and styles separately or inside elements such as buttons to
improve the user experience.
</docs>

<script lang="ts" setup>
    import { FwbSpinner } from 'flowbite-vue';
</script>

<template>
    <Story
        title="Display/Spinner"
        group="flowbite"
        :layout="{ type: 'grid', width: 600 }"
    >
        <Variant title="Sizes, colors">
            <div class="flex items-center gap-4">
                <fwb-spinner />
                <fwb-spinner size="6" />
                <fwb-spinner size="8" color="red" />
                <fwb-spinner size="10" color="yellow" />
                <fwb-spinner size="12" color="white" />
            </div>
        </Variant>
    </Story>
</template>
