<docs lang="md">
# Tabs

Used as an extra navigational hierarchy.
</docs>

<script lang="ts" setup>
    import { ref } from 'vue';
    import { FwbTab, FwbTabs } from 'flowbite-vue';

    const activeTab = ref('first');
</script>

<template>
    <Story
        title="Display/Tabs"
        group="flowbite"
        :layout="{ type: 'grid', width: 400 }"
    >
        <Variant title="Default">
            <fwb-tabs v-model="activeTab" class="p-5 dark:text-white">
                <fwb-tab name="first" title="First">
                    Lorem ipsum dolor 1...
                </fwb-tab>
                <fwb-tab name="second" title="Second">
                    Lorem ipsum dolor 2...
                </fwb-tab>
                <fwb-tab name="third" title="Third">
                    Lorem ipsum dolor 3...
                </fwb-tab>
                <fwb-tab name="fourth" title="Fourth" disabled>
                    Lorem ipsum dolor 4...
                </fwb-tab>
            </fwb-tabs>
        </Variant>
        <Variant title="Underline">
            <fwb-tabs
                v-model="activeTab"
                variant="underline"
                class="p-5 dark:text-white"
            >
                <fwb-tab name="first" title="First">
                    Lorem ipsum dolor 1...
                </fwb-tab>
                <fwb-tab name="second" title="Second">
                    Lorem ipsum dolor 2...
                </fwb-tab>
                <fwb-tab name="third" title="Third">
                    Lorem ipsum dolor 3...
                </fwb-tab>
                <fwb-tab name="fourth" title="Fourth" disabled>
                    Lorem ipsum dolor 4...
                </fwb-tab>
            </fwb-tabs>
        </Variant>
        <Variant title="Pills">
            <fwb-tabs
                v-model="activeTab"
                variant="pills"
                class="p-5 dark:text-white"
            >
                <fwb-tab name="first" title="First">
                    Lorem ipsum dolor 1...
                </fwb-tab>
                <fwb-tab name="second" title="Second">
                    Lorem ipsum dolor 2...
                </fwb-tab>
                <fwb-tab name="third" title="Third">
                    Lorem ipsum dolor 3...
                </fwb-tab>
                <fwb-tab name="fourth" title="Fourth" disabled>
                    Lorem ipsum dolor 4...
                </fwb-tab>
            </fwb-tabs>
        </Variant>
    </Story>
</template>
