<docs lang="md">
# Themable

A wrapper for styling components with no color prop.
</docs>

<script lang="ts" setup>
    import type { FlowbiteTheme } from 'flowbite-vue/components/utils/FlowbiteThemable/types.js';
    import type { TabsVariant } from 'flowbite-vue/components/FwbTabs/types.js';
    import { ref } from 'vue';
    import {
        FwbButton,
        FwbTabs,
        FwbTab,
        FlowbiteThemable,
    } from 'flowbite-vue';

    const variants = ['default', 'underline', 'pills'];
    const themes = ['blue', 'green', 'red', 'pink', 'purple'];
    const theme = ref('blue');

    const activeTab = ref('first');
</script>

<template>
    <Story title="Look and feel/Themes (WIP)" group="flowbite">
        <Variant title="Tabs">
            <flowbite-themable :theme="(theme as FlowbiteTheme)">
                <div class="flex flex-col gap-4">
                    <div
                        v-for="variant in variants"
                        class="rounded-lg shadow"
                    >
                        <fwb-tabs
                            :key="variant"
                            v-model="activeTab"
                            :variant="(variant as TabsVariant)"
                            class="p-5 dark:text-white"
                        >
                            <fwb-tab name="first" title="First">
                                Lorem ipsum dolor 1...
                            </fwb-tab>
                            <fwb-tab name="second" title="Second">
                                Lorem ipsum dolor 2...
                            </fwb-tab>
                            <fwb-tab name="third" title="Third">
                                Lorem ipsum dolor 3...
                            </fwb-tab>
                            <fwb-tab name="fourth" title="Fourth" disabled>
                                Lorem ipsum dolor 4...
                            </fwb-tab>
                        </fwb-tabs>
                    </div>
                    <!-- currently not themed -->
                    <fwb-button color="default" pill>Default</fwb-button>
                </div>
            </flowbite-themable>
        </Variant>
        <template #controls>
            <HstSelect v-model="theme" title="Theme" :options="themes" />
        </template>
    </Story>
</template>
