<docs lang="md">
# Typography

## Heading (h1-h6)

Used as titles and subtitles.

## Paragraph (p)

Used to display blocks of text separated by blank lines.

## Image

Used to display images.

## Link (a)

Used to display hyperlinks.
</docs>

<script lang="ts" setup>
    import { FwbHeading, FwbA, FwbP, FwbImg } from 'flowbite-vue';
    const sizes = ['xs', 'sm', 'md', 'lg', 'xl'];
</script>

<template>
    <Story title="Display/Typography" group="flowbite">
        <Variant title="Headings">
            <fwb-heading tag="h1">Heading 1</fwb-heading>
            <fwb-heading tag="h2">Heading 2</fwb-heading>
            <fwb-heading tag="h3">Heading 3</fwb-heading>
            <fwb-heading tag="h4">Heading 4</fwb-heading>
            <fwb-heading tag="h5">Heading 5</fwb-heading>
            <fwb-heading tag="h6">Heading 6</fwb-heading>
        </Variant>
        <Variant title="Paragraphs">
            <fwb-p>
                Track work across the enterprise through an open,
                collaborative platform. Link issues across Jira and ingest
                data from other software development tools, so your IT support
                and operations teams have richer contextual information to
                rapidly respond to requests, incidents, and changes.
            </fwb-p>
            <fwb-p>
                Deliver great service experiences fast - without the
                complexityof traditional ITSM solutions. Accelerate critical
                development work, eliminate toil, and deploy changes with
                ease, with a complete audit trail for every change.
            </fwb-p>
        </Variant>
        <Variant title="Images">
            <div class="flex flex-col gap-4 items-stretch">
                <fwb-img
                    alt="image"
                    src="/vite.svg"
                    img-class="rounded-lg border-[1px]"
                    alignment="mx-auto"
                    caption="auto size, auto alignment"
                />
                <fwb-img
                    v-for="size in sizes"
                    alt="image"
                    src="/fire.svg"
                    img-class="rounded-lg border-[1px]"
                    :size="'max-w-' + size"
                    :caption="size"
                    :title="size"
                />
            </div>
        </Variant>
        <Variant title="Links">
            <div class="flex flex-col gap-4">
                <fwb-a href="#">Flowbite-vue</fwb-a>
                <fwb-p>
                    The free updates that will be provided is based on the
                    <fwb-a href="#" class="underline hover:no-underline"
                        >roadmap</fwb-a
                    >
                    that we have laid out for this project. It is also
                    possible that we will provide extra updates outside of the
                    roadmap as well.
                </fwb-p>
            </div>
        </Variant>
    </Story>
</template>
