$ash: #282c34
$cloud: #f2f4ff

.app
  text-align: center
.app__header
  background-color: $ash
  min-height: 10vh
  font-size: calc(10px + 2vmin)
  color: white
.app__main
  background-color: $cloud
  min-height: 85vh
.app__footer
  background-color: $ash
  min-height: 5vh

.header
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
.header__title
  display: block
.header__title_bold
  font-weight: bold

.main
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.footer
