<template>
    <q-layout view="hhh lpr fff">
        <q-page-container>
            <router-view />
        </q-page-container>
    </q-layout>
</template>

<script>
export default {
    name: 'FullscreenLayout',
};
</script>
