<template>
    <q-layout view="hHh LpR fFf">
        <q-header elevated>
            <q-toolbar class="q-pt-sm">
                <router-link :to="{ name: 'Index' }" class="f-app-title flex items-center">
                    <q-avatar size="36px">
                        <q-icon size="36px" name="star" />
                    </q-avatar>
                    <q-toolbar-title>
                        {{ $t('app.title') }}
                    </q-toolbar-title>
                </router-link>
                <q-space />
                <app-search-field />
            </q-toolbar>
            <q-toolbar>
                <q-btn flat @click="isNavigationDrawerOpen = !isNavigationDrawerOpen" round dense icon="menu" />
                <q-breadcrumbs class="q-pl-sm" active-color="white">
                    <q-breadcrumbs-el icon="home" to="/" />
                    <q-breadcrumbs-el :label="$t('actions.resource.folder.label')" icon="folder" />
                    <q-breadcrumbs-el :label="$t('actions.resource.document.label')" icon="description" />
                </q-breadcrumbs>
                <q-space />
                <app-profile-menu-button :user="user" />
            </q-toolbar>
        </q-header>
        <app-navigation-drawer :open="isNavigationDrawerOpen" />
        <q-page-container>
            <router-view />
        </q-page-container>
    </q-layout>
</template>

<script>
import { defineComponent } from 'vue';
import { mapGetters } from 'vuex';

import AppNavigationDrawer from 'components/AppNavigationDrawer';
import AppProfileMenuButton from 'components/AppProfileMenuButton';
import AppSearchField from 'components/AppSearchField';

export default defineComponent({
    name: 'MainLayout',
    components: {
        AppNavigationDrawer,
        AppProfileMenuButton,
        AppSearchField,
    },
    data() {
        return {
            isNavigationDrawerOpen: true,
        };
    },
    methods: {
        home() {
            this.$router.push('/');
        },
    },
    computed: {
        ...mapGetters('app', ['user']),
    },
});
</script>

<style>
.f-app-title {
    color: inherit;
    text-decoration: none;
}
</style>
