<docs lang="md">
# Dialog (Modal)

A fully-managed, renderless dialog component jam-packed with accessibility
and keyboard features, perfect for building completely custom modal and
dialog windows for your next application.
</docs>

<script lang="ts" setup>
    import { ref } from 'vue';
    import {
        TransitionRoot,
        TransitionChild,
        Dialog,
        DialogPanel,
        DialogTitle,
    } from '@headlessui/vue';

    const isOpen = ref(true);

    function closeModal() {
        isOpen.value = false;
    }
    function openModal() {
        isOpen.value = true;
    }
</script>

<template>
    <Story title="Dialog (Modal)" group="headlessui">
        <Variant title="unstyled">
            <div class="fixed inset-0 flex items-center justify-center">
                <button type="button" @click="openModal">Open dialog</button>
            </div>
            <Dialog :open="isOpen" as="div" @close="closeModal">
                <div>
                    <div>
                        <DialogPanel>
                            <DialogTitle> Payment successful </DialogTitle>
                            <div>
                                <p>
                                    Your payment has been successfully
                                    submitted. We’ve sent you an email with
                                    all of the details of your order.
                                </p>
                            </div>

                            <div>
                                <button type="button" @click="closeModal">
                                    Got it, thanks!
                                </button>
                            </div>
                        </DialogPanel>
                    </div>
                </div>
            </Dialog>
        </Variant>
        <Variant title="example">
            <div class="fixed inset-0 flex items-center justify-center">
                <button
                    type="button"
                    @click="openModal"
                    class="rounded-md bg-black/20 px-4 py-2 text-sm font-medium text-white hover:bg-black/30 focus:outline-none focus-visible:ring-2 focus-visible:ring-white/75"
                >
                    Open dialog
                </button>
            </div>
            <TransitionRoot appear :show="isOpen" as="template">
                <Dialog as="div" @close="closeModal" class="relative z-10">
                    <TransitionChild
                        as="template"
                        enter="duration-300 ease-out"
                        enter-from="opacity-0"
                        enter-to="opacity-100"
                        leave="duration-200 ease-in"
                        leave-from="opacity-100"
                        leave-to="opacity-0"
                    >
                        <div class="fixed inset-0 bg-black/25" />
                    </TransitionChild>

                    <div class="fixed inset-0 overflow-y-auto">
                        <div
                            class="flex min-h-full items-center justify-center p-4 text-center"
                        >
                            <TransitionChild
                                as="template"
                                enter="duration-300 ease-out"
                                enter-from="opacity-0 scale-95"
                                enter-to="opacity-100 scale-100"
                                leave="duration-200 ease-in"
                                leave-from="opacity-100 scale-100"
                                leave-to="opacity-0 scale-95"
                            >
                                <DialogPanel
                                    class="w-full max-w-md transform overflow-hidden rounded-2xl bg-white p-6 text-left align-middle shadow-xl transition-all"
                                >
                                    <DialogTitle
                                        as="h3"
                                        class="text-lg font-medium leading-6 text-gray-900"
                                    >
                                        Payment successful
                                    </DialogTitle>
                                    <div class="mt-2">
                                        <p class="text-sm text-gray-500">
                                            Your payment has been successfully
                                            submitted. We’ve sent you an email
                                            with all of the details of your
                                            order.
                                        </p>
                                    </div>

                                    <div class="mt-4">
                                        <button
                                            type="button"
                                            class="inline-flex justify-center rounded-md border border-transparent bg-blue-100 px-4 py-2 text-sm font-medium text-blue-900 hover:bg-blue-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2"
                                            @click="closeModal"
                                        >
                                            Got it, thanks!
                                        </button>
                                    </div>
                                </DialogPanel>
                            </TransitionChild>
                        </div>
                    </div>
                </Dialog>
            </TransitionRoot>
        </Variant>
    </Story>
</template>
