<docs lang="md">
# Disclosure

A simple, accessible foundation for building custom UIs that show and
hide content, like togglable accordion panels.
</docs>

<script lang="ts" setup>
    import {
        Disclosure,
        DisclosureButton,
        DisclosurePanel,
    } from '@headlessui/vue';
    import ChevronUpIcon from '../icons/ChevronUp.vue';
</script>

<template>
    <Story title="Disclosure" group="headlessui">
        <Variant title="unstyled">
            <div class="w-full px-4 pt-16">
                <div>
                    <Disclosure v-slot="{ open }">
                        <DisclosureButton>
                            <span>What is your refund policy?</span>
                            <ChevronUpIcon class="h-5 w-5" />
                        </DisclosureButton>
                        <DisclosurePanel>
                            If you're unhappy with your purchase for any
                            reason, email us within 90 days and we'll refund
                            you in full, no questions asked.
                        </DisclosurePanel>
                    </Disclosure>
                    <Disclosure as="div" v-slot="{ open }">
                        <DisclosureButton>
                            <span>Do you offer technical support?</span>
                            <ChevronUpIcon class="h-5 w-5" />
                        </DisclosureButton>
                        <DisclosurePanel> No. </DisclosurePanel>
                    </Disclosure>
                </div>
            </div>
        </Variant>
        <Variant title="example">
            <div class="w-full px-4 pt-16">
                <div class="mx-auto w-full max-w-md rounded-2xl bg-white p-2">
                    <Disclosure v-slot="{ open }">
                        <DisclosureButton
                            class="flex w-full justify-between rounded-lg bg-purple-100 px-4 py-2 text-left text-sm font-medium text-purple-900 hover:bg-purple-200 focus:outline-none focus-visible:ring focus-visible:ring-purple-500/75"
                        >
                            <span>What is your refund policy?</span>
                            <ChevronUpIcon
                                :class="open ? 'rotate-180 transform' : ''"
                                class="h-5 w-5 text-purple-500"
                            />
                        </DisclosureButton>
                        <DisclosurePanel
                            class="px-4 pb-2 pt-4 text-sm text-gray-500"
                        >
                            If you're unhappy with your purchase for any
                            reason, email us within 90 days and we'll refund
                            you in full, no questions asked.
                        </DisclosurePanel>
                    </Disclosure>
                    <Disclosure as="div" class="mt-2" v-slot="{ open }">
                        <DisclosureButton
                            class="flex w-full justify-between rounded-lg bg-purple-100 px-4 py-2 text-left text-sm font-medium text-purple-900 hover:bg-purple-200 focus:outline-none focus-visible:ring focus-visible:ring-purple-500/75"
                        >
                            <span>Do you offer technical support?</span>
                            <ChevronUpIcon
                                :class="open ? 'rotate-180 transform' : ''"
                                class="h-5 w-5 text-purple-500"
                            />
                        </DisclosureButton>
                        <DisclosurePanel
                            class="px-4 pb-2 pt-4 text-sm text-gray-500"
                        >
                            No.
                        </DisclosurePanel>
                    </Disclosure>
                </div>
            </div>
        </Variant>
    </Story>
</template>
