<docs lang="md">
# Menu (Dropdown)

Menus offer an easy way to build custom, accessible dropdown components
with robust support for keyboard navigation.
</docs>

<script lang="ts" setup>
    import { Menu, MenuButton, MenuItems, MenuItem } from '@headlessui/vue';
    import ChevronDownIcon from '../icons/ChevronDown.vue';
    import DashboardIcon from '../icons/Dashboard.vue';
    import InboxIcon from '../icons/Inbox.vue';
    import ProductsIcon from '../icons/Products.vue';
    import SignInIcon from '../icons/SignIn.vue';
    import SignUpIcon from '../icons/SignUp.vue';
</script>

<template>
    <Story title="Menu (dropdown)" group="headlessui">
        <Variant title="unstyled">
            <div class="fixed top-16 w-56 text-right">
                <Menu as="div">
                    <div>
                        <MenuButton>
                            Options
                            <ChevronDownIcon class="h-5 w-5" />
                        </MenuButton>
                    </div>

                    <MenuItems>
                        <div>
                            <MenuItem v-slot="{ active }">
                                <button>
                                    <DashboardIcon
                                        :active="active"
                                        class="h-5 w-5"
                                    />
                                    Dashboard
                                </button>
                            </MenuItem>
                            <MenuItem v-slot="{ active }">
                                <button>
                                    <ProductsIcon
                                        :active="active"
                                        class="h-5 w-5"
                                    />
                                    Products
                                </button>
                            </MenuItem>
                            <MenuItem v-slot="{ active }">
                                <button>
                                    <InboxIcon
                                        :active="active"
                                        class="h-5 w-5"
                                    />
                                    Inbox
                                </button>
                            </MenuItem>
                        </div>
                        <div>
                            <MenuItem v-slot="{ active }">
                                <button>
                                    <SignInIcon
                                        :active="active"
                                        class="h-5 w-5"
                                    />
                                    Sign In
                                </button>
                            </MenuItem>

                            <MenuItem v-slot="{ active }">
                                <button>
                                    <SignUpIcon
                                        :active="active"
                                        class="h-5 w-5"
                                    />
                                    Sign Up
                                </button>
                            </MenuItem>
                        </div>
                    </MenuItems>
                </Menu>
            </div>
        </Variant>
        <Variant title="example">
            <div class="fixed top-16 w-56 text-right">
                <Menu as="div" class="relative inline-block text-left">
                    <div>
                        <MenuButton
                            class="inline-flex w-full justify-center rounded-md bg-black/20 px-4 py-2 text-sm font-medium text-white hover:bg-black/30 focus:outline-none focus-visible:ring-2 focus-visible:ring-white/75"
                        >
                            Options
                            <ChevronDownIcon
                                class="-mr-1 ml-2 h-5 w-5 text-violet-200 hover:text-violet-100"
                                aria-hidden="true"
                            />
                        </MenuButton>
                    </div>

                    <transition
                        enter-active-class="transition duration-100 ease-out"
                        enter-from-class="transform scale-95 opacity-0"
                        enter-to-class="transform scale-100 opacity-100"
                        leave-active-class="transition duration-75 ease-in"
                        leave-from-class="transform scale-100 opacity-100"
                        leave-to-class="transform scale-95 opacity-0"
                    >
                        <MenuItems
                            class="absolute right-0 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none"
                        >
                            <div class="px-1 py-1">
                                <MenuItem v-slot="{ active }">
                                    <button
                                        :class="[
                                            active
                                                ? 'bg-violet-500 text-white'
                                                : 'text-gray-900',
                                            'group flex w-full items-center rounded-md px-2 py-2 text-sm',
                                        ]"
                                    >
                                        <DashboardIcon
                                            :active="active"
                                            class="mr-2 h-5 w-5 text-violet-400"
                                            aria-hidden="true"
                                        />
                                        Dashboard
                                    </button>
                                </MenuItem>
                                <MenuItem v-slot="{ active }">
                                    <button
                                        :class="[
                                            active
                                                ? 'bg-violet-500 text-white'
                                                : 'text-gray-900',
                                            'group flex w-full items-center rounded-md px-2 py-2 text-sm',
                                        ]"
                                    >
                                        <ProductsIcon
                                            :active="active"
                                            class="mr-2 h-5 w-5 text-violet-400"
                                            aria-hidden="true"
                                        />
                                        Products
                                    </button>
                                </MenuItem>
                                <MenuItem v-slot="{ active }">
                                    <button
                                        :class="[
                                            active
                                                ? 'bg-violet-500 text-white'
                                                : 'text-gray-900',
                                            'group flex w-full items-center rounded-md px-2 py-2 text-sm',
                                        ]"
                                    >
                                        <InboxIcon
                                            :active="active"
                                            class="mr-2 h-5 w-5 text-violet-400"
                                            aria-hidden="true"
                                        />
                                        Inbox
                                    </button>
                                </MenuItem>
                            </div>
                            <div class="px-1 py-1">
                                <MenuItem v-slot="{ active }">
                                    <button
                                        :class="[
                                            active
                                                ? 'bg-violet-500 text-white'
                                                : 'text-gray-900',
                                            'group flex w-full items-center rounded-md px-2 py-2 text-sm',
                                        ]"
                                    >
                                        <SignInIcon
                                            :active="active"
                                            class="mr-2 h-5 w-5 text-violet-400"
                                            aria-hidden="true"
                                        />
                                        Sign In
                                    </button>
                                </MenuItem>

                                <MenuItem v-slot="{ active }">
                                    <button
                                        :class="[
                                            active
                                                ? 'bg-violet-500 text-white'
                                                : 'text-gray-900',
                                            'group flex w-full items-center rounded-md px-2 py-2 text-sm',
                                        ]"
                                    >
                                        <SignUpIcon
                                            :active="active"
                                            class="mr-2 h-5 w-5 text-violet-400"
                                            aria-hidden="true"
                                        />
                                        Sign Up
                                    </button>
                                </MenuItem>
                            </div>
                        </MenuItems>
                    </transition>
                </Menu>
            </div>
        </Variant>
    </Story>
</template>
