<docs lang="md">
# Switch (Toggle)

Switches are a pleasant interface for toggling a value between two states,
and offer the same semantics and keyboard navigation as native checkbox elements.
</docs>

<script lang="ts" setup>
    import { ref } from 'vue';
    import { Switch } from '@headlessui/vue';

    const enabled = ref(false);
</script>

<template>
    <Story title="Switch (Toggle)" group="headlessui">
        <Variant title="unstyled">
            <div class="py-16">
                <Switch v-model="enabled">
                    <span>Use setting</span>
                    <span />
                </Switch>
            </div>
        </Variant>
        <Variant title="example">
            <div class="py-16">
                <Switch
                    v-model="enabled"
                    :class="enabled ? 'bg-teal-900' : 'bg-teal-700'"
                    class="relative inline-flex h-[38px] w-[74px] shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus-visible:ring-2 focus-visible:ring-white/75"
                >
                    <span class="sr-only">Use setting</span>
                    <span
                        aria-hidden="true"
                        :class="enabled ? 'translate-x-9' : 'translate-x-0'"
                        class="pointer-events-none inline-block h-[34px] w-[34px] transform rounded-full bg-white shadow-lg ring-0 transition duration-200 ease-in-out"
                    />
                </Switch>
            </div>
        </Variant>
    </Story>
</template>
