<script>
    import Nested from './Nested.svelte';
    import PackageInfo from './PackageInfo.svelte';

    // component state and behavior

    let name = 'Svelte';
    let src = '/image.gif';
    let string = `this string contains some <strong>HTML!!!</strong>`;

    let count = 0;

    let numbers = [1, 2, 3, 4];

    const pkg = {
        name: 'svelte',
        speed: 'blazing',
        version: 4,
        website: 'https://svelte.dev',
    };

    const colors = [
        'red',
        'orange',
        'yellow',
        'green',
        'blue',
        'indigo',
        'violet',
    ];
    let selected = colors[0];

    let promise = Promise.resolve(123);

    let m = { x: 0, y: 0 };

    function addNumber() {
        numbers = [...numbers, numbers.length + 1];
    }

    // reactive declarations (rerun when referenced values change);
    // reactivity is triggered by assignments (to vars or properties)

    // reactive values (like computed)

    $: doubled = count * 2;

    $: sum = numbers.reduce(
        (total, currentNumber) => total + currentNumber,
        0
    );

    // reactive statements (like watch)

    $: console.log(`the count is ${count}`);

    $: {
        console.log(`the count is ${count}`);
        console.log(`this will also be logged whenever count changes`);
    }

    $: if (count >= 10) {
        alert('count is dangerously high!');
        count = 0;
    }

    // event handlers

    function increment() {
        count += 1;
    }
</script>

<!-- using component state -->
<h1>Hello {name.toUpperCase()}!</h1>

<!-- shorthand attributes (instead of src={src})-->
<img {src} alt="{name} dances." />

<!-- will be styled -->
<p>This is a paragraph.</p>

<!-- component names are always capitalized; passing props to
	a component -->
<Nested answer={42} />
<!-- default props -->
<Nested />
<!-- spread props: with and without -->
<PackageInfo {...pkg} />
<PackageInfo name={pkg.name} speed={pkg.speed} website={pkg.website} />

<!-- html instead of text; beware of XSS attacks -->
<p>{@html string}</p>

<!-- reactivity: DOM is automatically updated when component
	state changes -->
<button on:click={increment}>
    Clicked {count}
    {count === 1 ? 'time' : 'times'}
</button>

<!-- using a reactive value -->
<p>{count} doubled is {doubled}</p>

<!-- using/updating a reactive object/array value -->
<p>{numbers.join(' + ')} = {sum}</p>
<button on:click={addNumber}> Add a number </button>

<!-- logic in templates -->
<!-- if -->
{#if count > 10}
    <p>{count} is greater than 10</p>
{:else if count < 5}
    <p>{count} is less than 5</p>
{:else}
    <p>{count} is between 5 and 10</p>
{/if}
<!-- each -->
<div>
    <!-- specifying also index and key -->
    {#each colors as color, index (color)}
        <button
            aria-current={selected === color}
            aria-label={color}
            style="background: {color}"
            on:click={() => (selected = color)}>{index + 1}</button
        >
    {/each}
</div>
<!-- await -->
<!-- can omit then or catch -->
{#await promise}
    <p>...waiting</p>
{:then number}
    <p>The number is {number}</p>
{:catch error}
    <p style="color: red">{error.message}</p>
{/await}

<!-- event handlers -->
<!-- inline event handlers are ok -->
<div
    on:pointermove={e => {
        m = { x: e.clientX, y: e.clientY };
    }}
>
    The pointer is at {m.x} x {m.y}
</div>
<!-- event modifiers (preventDefault, stopPropagation, passive/nonpassive,
	capture, once, self, trusted), can be more than one -->
<button on:click|once={() => alert('clicked')}> Click me </button>
<!-- handling custom events -->
<Nested on:message={event => alert(event.detail.text)} />
<!-- forwarding (redispatching) custom events; works with DOM events too -->
<Nested on:message />

<!-- binding values (like v-model); works automatically with
	numeric inputs, checkboxes, etc -->
<input bind:value={name} />
<h1>Hello {name}!</h1>

<!-- TODO: lifecycle hooks, stores -->

<!-- styles are scoped to the component, do not affect nested components -->
<style>
    p {
        color: goldenrod;
        font-family: 'Comic Sans MS', cursive;
        font-size: 2em;
    }

    h1 {
        transition: color 0.2s;
    }

    div {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 5px;
        max-width: 400px;
    }

    button {
        aspect-ratio: 1;
        border-radius: 50%;
        background: var(--color, #fff);
        transform: translate(-2px, -2px);
        filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
        transition: all 0.1s;
    }

    button[aria-current='true'] {
        transform: none;
        filter: none;
        box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.2);
    }
</style>
