<script>
    import { createEventDispatcher } from 'svelte';

    // props are declared with export, allow default values
    export let answer = 'a mistery';

    // to dispatch custom events
    const dispatch = createEventDispatcher();

    function sayHello() {
        dispatch('message', {
            text: 'Hello!',
        });
    }
</script>

<p>This is another paragraph.</p>
<p>The answer is {answer}</p>

<button on:click={sayHello}> Click to say hello </button>
