<script setup>
import InboxScreenContainer from './components/InboxScreenContainer.vue';
</script>

<template>
  <div id="app">
    <InboxScreenContainer />
  </div>
</template>

<style>
@import './index.css';
</style>
