<template>
    <q-drawer :model-value="open" :width="250" :breakpoint="500" show-if-above bordered>
        <q-scroll-area class="fit">
            <q-list class="q-my-md">
                <template v-for="(section, index) in sections" :key="index">
                    <q-item :to="`/sections/${section.id}`" clickable v-ripple>
                        <q-item-section avatar>
                            <q-icon :name="section.icon" />
                        </q-item-section>
                        <q-item-section class="text-weight-bold">
                            {{ $t(section.name) }}
                        </q-item-section>
                    </q-item>
                    <q-separator :key="'sep' + index" v-if="section.separator" />
                </template>
            </q-list>
        </q-scroll-area>
    </q-drawer>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    name: 'AppNavigationDrawer',
    props: {
        open: {
            type: Boolean,
        },
    },
    computed: {
        ...mapGetters('example', ['sections']),
    },
};
</script>
