<template>
    <q-btn v-if="!isAuthenticated" flat no-caps icon-right="navigate_next" :label="$t('app.menu.login.label')"
        @click="login">
    </q-btn>
    <q-btn-dropdown v-else flat no-caps :label="fullName" icon="account_circle">
        <q-list>
            <q-item clickable v-close-popup to="/sections/settings">
                <q-item-section>
                    <q-item-label>{{ $t('app.menu.appSettings.label') }}</q-item-label>
                </q-item-section>
            </q-item>
            <q-item clickable v-close-popup @click="logout">
                <q-item-section>
                    <q-item-label>{{ $t('app.menu.logout.label') }}</q-item-label>
                </q-item-section>
            </q-item>
        </q-list>
    </q-btn-dropdown>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    name: 'AppProfileMenuButton',
    props: {
        user: {
            type: [Object, String],
        },
    },
    data: () => ({}),
    methods: {
        ...mapActions('app', ['login', 'logout']),
    },
    computed: {
        ...mapGetters('app', ['isAuthenticated']),
        fullName() {
            return `${this.user.given_name} ${this.user.family_name}`;
        },
    },
};
</script>
