<template>
    <q-input v-model="query" debounce="500" outlined dense dark :placeholder="$t('app.search.placeholder')"
        @keyup.enter="search" data-testid="app-search-field">
        <template v-slot:append>
            <q-icon name="search" @click="search" />
        </template>
    </q-input>
</template>

<script>
import { i18n } from 'boot/i18n';
import useAlert from 'composables/useAlert';

export default {
    name: 'AppSearchField',
    setup() {
        const alert = useAlert();
        return { alert };
    },
    data() {
        return {
            query: '',
        };
    },
    methods: {
        search() {
            this.alert.info(i18n.global.t('notImplemented'));
        },
    },
};
</script>
