<template>
    <div class="text-h5 q-pa-md row items-center">
        <span class="q-pr-sm">{{ $t("app.components.messageList.title") }}</span>
        <q-badge v-if="messages.length !== 0" color="primary">
            {{ messages.length }}
        </q-badge>
    </div>
    <q-list>
        <q-item v-for="message in messages" :key="message.correlationId" clickable v-ripple>
            <q-item-section>
                <q-item-label>
                    {{ $t("app.components.messageList.message.key") }}:
                    <span class="text-weight-bold">{{ message.key }}</span>
                </q-item-label>
                <q-item-label>
                    {{ $t("app.components.messageList.message.value") }}:
                    <span class="text-weight-bold">{{ message.value }}</span>
                </q-item-label>
                <q-item-label caption>ID: {{ message.correlationId }}</q-item-label>
            </q-item-section>

            <q-item-section side>
                <div class="text-grey-8 q-gutter-xs">
                    <q-btn class="gt-xs" size="12px" flat dense round icon="delete" @click="removeMessage(message)" />
                </div>
            </q-item-section>
        </q-item>
        <q-item>
            <q-item-label v-if="messages.length === 0" caption>
                {{ $t("app.components.messageList.empty") }}
            </q-item-label>
        </q-item>
    </q-list>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    name: 'MessageList',
    props: {
        messages: {
            type: Array,
        },
    },
    setup() {
        return {
            ...mapActions('example', ['removeMessage']),
        };
    },
};
</script>
