<template>
    <div class="text-h5 q-pa-md">
        <span class="q-pr-sm">{{ $t("app.components.resourceCard.title") }}</span>
    </div>
    <q-item clickable v-ripple>
        <q-item-section>
            <q-item-label>
                {{ $t("app.components.resourceCard.message") }}:
                <span class="text-weight-bold">{{ resource?.message }}</span>
            </q-item-label>
            <q-item-label caption>
                {{ $t("app.components.resourceCard.status") }}:
                <span class="text-weight-bold">{{ resource?.status }}</span>
            </q-item-label>
        </q-item-section>
    </q-item>
</template>

<script>
export default {
    name: 'ResourceCard',
    props: {
        resource: {
            type: Object,
        },
    },
    setup() {
        return {};
    },
};
</script>
