<script setup lang="ts">
    const emit = defineEmits<{
        (e: 'click', id: number): void;
    }>();
    const onClick = () => {
        emit('click', 1);
    };
</script>

<template>
    <button type="button" @click="onClick">
        <slot></slot>
    </button>
</template>
