<docs lang="md">
# About page

A page that provides application description.
</docs>

<script lang="ts" setup>
    import AboutPage from 'wise-cats-spa/src/components/app/pages/About.vue';
</script>

<template>
    <Story title="Pages/About" group="app">
        <Variant title="About page">
            <about-page />
        </Variant>
    </Story>
</template>
