<docs lang="md">
# Help page

A page that provides help on application usage.
</docs>

<script lang="ts" setup>
    import HelpPage from 'wise-cats-spa/src/components/app/pages/Help.vue';
</script>

<template>
    <Story title="Pages/Help" group="app">
        <Variant title="Help page">
            <help-page />
        </Variant>
    </Story>
</template>
