<docs lang="md">
# Home page

A home page of an application.
</docs>

<script lang="ts" setup>
    import HomePage from 'wise-cats-spa/src/components/app/pages/Home.vue';
</script>

<template>
    <Story title="Pages/Home" group="app">
        <Variant title="Home page">
            <home-page />
        </Variant>
    </Story>
</template>
