<docs lang="md">
# Settings page

A page that provides application settings.
</docs>

<script lang="ts" setup>
    import SettingsPage from 'wise-cats-spa/src/components/app/pages/Settings.vue';
</script>

<template>
    <Story title="Pages/Settings" group="app">
        <Variant title="Settings page">
            <settings-page>Settings page content.</settings-page>
        </Variant>
    </Story>
</template>
