<docs lang="md">
# AppFooter

An application footer with links to information about app and it's author.
</docs>

<script lang="ts" setup>
    import AppFooter from 'wise-cats-spa/src/components/app/shell/Footer.vue';

    const copyright = {
        by: 'Constantine Pigalev',
        url: 'https://kpglv.gitlab.io/personal',
        message: ', MIT license.',
    };
    const links = [
        {
            title: 'My Gitlab',
            url: 'https://gitlab.com/users/kpglv/projects',
        },
        {
            title: 'Powered by Cat API',
            url: 'https://thecatapi.com',
        },
        {
            title: 'Powered by Fortunes API',
            url: 'https://www.fortune.ninja',
        },
    ];
</script>

<template>
    <Story title="Shell/Footer" group="app">
        <Variant title="Basic">
            <app-footer :copyright="copyright" :links="links" />
        </Variant>
    </Story>
</template>
