<docs lang="md">
# AppHeader

An application header with logo, title and collapsible navigation.
</docs>

<script lang="ts" setup>
    import AppHeader from 'wise-cats-spa/src/components/app/shell/Header.vue';
    import { useI18n } from 'vue-i18n';
    const { t } = useI18n();
    const logo = '/fire.svg';
</script>

<template>
    <Story title="Shell/Header" group="app">
        <Variant title="Basic">
            <app-header :title="t('app.title')" :logo="logo" />
        </Variant>
    </Story>
</template>
