<docs lang="md">
# Layout

Defines an overall shape of application screens.
</docs>

<script lang="ts" setup>
    import AppLayout from 'wise-cats-spa/src/components/app/shell/Layout.vue';
</script>

<template>
    <Story title="Shell/Layout" group="app">
        <Variant title="Basic">
            <app-layout class="border border-gray-300 dark:border-gray-500">
                <template #header>
                    <div
                        class="flex items-center justify-center w-full h-16 border-b border-gray-300 dark:border-gray-500"
                    >
                        Header
                    </div>
                </template>
                <template #main>
                    <div class="flex items-center justify-center w-full h-96">
                        Main content
                    </div>
                </template>
                <template #footer>
                    <div
                        class="flex items-center justify-center w-full h-12 border-t border-gray-300 dark:border-gray-500"
                    >
                        Footer
                    </div>
                </template>
            </app-layout>
        </Variant>
    </Story>
</template>
