<script setup lang="ts">
    import { useI18n } from 'vue-i18n';
    const { t } = useI18n();
</script>

<template>
    <section
        class="container w-full min-h-screen mx-auto p-4 md:p-6 prose lg:prose-xl dark:prose-invert"
    >
        <h2>{{ t('app.pages.about.title') }}</h2>
        <article>
            <p>
                {{ t('app.pages.about.overview') }}
            </p>

            <h3>{{ t('app.pages.about.tools.title') }}</h3>
            <ul>
                <li>
                    <a href="https://www.typescriptlang.org/" target="_blank">
                        TypeScript
                    </a>
                    &nbsp; {{ t('app.pages.about.tools.typescript') }}
                </li>
                <li>
                    <a href="https://vuejs.org/" target="_blank"> Vue 3 </a>
                    &nbsp; {{ t('app.pages.about.tools.vue') }}
                </li>
                <li>
                    <a href="https://flowbite-vue.com/" target="_blank">
                        Flowbite (for Vue)
                    </a>
                    &nbsp; {{ t('app.pages.about.tools.componentLibrary') }}
                </li>
                <li>
                    <a href="https://tailwindcss.com/" target="_blank">
                        Tailwind CSS
                    </a>
                    &nbsp; {{ t('app.pages.about.tools.styling') }}
                </li>
                <li>
                    <a href="https://histoire.dev/">Histoire</a>
                    &nbsp;
                    {{ t('app.pages.about.tools.componentDevelopment') }}
                </li>
                <li>
                    <a href="https://vitejs.dev/">Vite</a>
                    &nbsp; {{ t('app.pages.about.tools.build') }}
                </li>
            </ul>
            <h3>{{ t('app.pages.about.concerns.title') }}</h3>
            <ol>
                <!-- <li>Describing domain and use cases</li> -->
                <!-- <li>Implementing services for</li>
                <ul>
                    <li>Fetching data from REST API</li>
                    <li>
                        Parsing, serializing and validating the data (using
                        <a href="https://ajv.js.org/" target="_blank">
                            Ajv
                        </a>
                        and
                        <a
                            href="https://ajv.js.org/json-type-definition.html"
                            target="_blank"
                        >
                            JSON Type Definition </a
                        >)
                    </li>
                </ul>
                <li>
                    Testing the services (using
                    <a href="https://jestjs.io/" target="_blank"> Jest </a>
                    testing framework)
                </li>
                -->
                <li>
                    {{
                        t(
                            'app.pages.about.concerns.componentDrivenDevelopment.pre'
                        )
                    }}
                    <a href="https://www.componentdriven.org/"
                        >Component-Driven Development</a
                    >
                    {{
                        t(
                            'app.pages.about.concerns.componentDrivenDevelopment.post'
                        )
                    }}
                </li>
                <li>
                    {{ t('app.pages.about.concerns.composables.pre') }}
                    <a href="https://vueuse.org/">VueUse</a>)
                    {{ t('app.pages.about.concerns.composables.post') }}
                </li>
                <li>{{ t('app.pages.about.concerns.creatingApp.title') }}</li>
                <ul>
                    <li>
                        {{
                            t(
                                'app.pages.about.concerns.creatingApp.composing'
                            )
                        }}
                    </li>
                    <li>
                        {{
                            t(
                                'app.pages.about.concerns.creatingApp.routing.pre'
                            )
                        }}
                        <a href="https://router.vuejs.org/">Vue Router</a>
                        {{
                            t(
                                'app.pages.about.concerns.creatingApp.routing.post'
                            )
                        }}
                    </li>
                    <li>
                        {{
                            t(
                                'app.pages.about.concerns.creatingApp.stateManagement.pre'
                            )
                        }}
                        <a href="https://pinia.vuejs.org/">Pinia</a>
                        {{
                            t(
                                'app.pages.about.concerns.creatingApp.stateManagement.post'
                            )
                        }}
                    </li>
                    <li>
                        {{
                            t(
                                'app.pages.about.concerns.creatingApp.dataFetching.pre'
                            )
                        }}
                        <a href="https://vueuse.org/core/useFetch/"
                            >useFetch</a
                        >
                        {{
                            t(
                                'app.pages.about.concerns.creatingApp.dataFetching.post'
                            )
                        }}
                    </li>
                    <li>
                        {{
                            t('app.pages.about.concerns.creatingApp.i18n.pre')
                        }}
                        <a href="https://vue-i18n.intlify.dev/">Vue i18n</a>
                        {{
                            t(
                                'app.pages.about.concerns.creatingApp.i18n.post'
                            )
                        }}
                    </li>
                    <li>
                        {{
                            t('app.pages.about.concerns.creatingApp.theming')
                        }}
                    </li>
                    <!-- <li>Data fetching</li> -->
                    <!-- <li>Configuring (via environment variables)</li> -->
                    <!-- <li>Using SSR (Server-Side Rendering)</li> -->
                    <!-- <li>
                        Deploying (on&nbsp;
                        <a href="https://vercel.com/" target="_blank">
                            Vercel
                        </a>
                        )
                    </li> -->
                </ul>
            </ol>
        </article>
    </section>
</template>
