<script setup lang="ts">
    import { useI18n } from 'vue-i18n';
    const { t } = useI18n();
</script>
<template>
    <section
        class="container w-full min-h-screen mx-auto p-4 md:p-6 prose lg:prose-xl dark:prose-invert"
    >
        <h2>{{ t('app.pages.help.title') }}</h2>
        <article>
            <p>
                {{ t('app.pages.help.description') }}
            </p>
        </article>
    </section>
</template>
