<script setup lang="ts">
    import { useI18n } from 'vue-i18n';
    import { useScroll } from '@vueuse/core';

    import { FwbButton } from 'flowbite-vue';

    import { useWiseCatsStore } from '../../../stores/wise-cats';
    import { reload } from '../../../modules/utils';
    import WiseCatList from '../WiseCatList.vue';
    import UpButton from '../UpButton.vue';

    const store = useWiseCatsStore();
    const { t } = useI18n();

    const { y } = useScroll(window, {
        behavior: 'smooth',
    });
    const scrollToTop = () => {
        y.value = 0;
    };
</script>
<template>
    <section
        class="container flex flex-col gap-8 w-full min-h-screen mx-auto p-4 md:p-6"
    >
        <div class="prose lg:prose-xl dark:prose-invert max-w-none w-full">
            <h2>{{ t('app.pages.home.title') }}</h2>
        </div>

        <wise-cat-list
            :wise-cats="store.wiseCats"
            :error="store.wiseCatsError"
            loading="off"
        >
            <template #empty>
                <div
                    class="flex flex-col items-center justify-center gap-4 w-full h-full prose dark:prose-invert max-w-none"
                >
                    <div class="mb-4">
                        {{ t('app.data.noData') }}
                    </div>
                    <fwb-button @click=""
                        >{{ t('app.actions.goHome') }}
                    </fwb-button>
                </div>
            </template>
            <template #error>
                <div
                    class="flex flex-col items-center justify-center gap-4 w-full h-full prose dark:prose-invert max-w-none"
                >
                    <div class="mb-4">
                        {{ t('app.data.fetchError') }}
                    </div>
                    <fwb-button @click="reload">
                        {{ t('app.actions.reload') }}
                    </fwb-button>
                </div>
            </template>
        </wise-cat-list>

        <div class="flex justify-center gap-4">
            <fwb-button
                class="flex items-center justify-center self-center gap-2 w-48"
                :loading="store.isFetchingWiseCats"
                @click="store.getWiseCats"
            >
                {{ t('app.actions.loadMore') }}
            </fwb-button>

            <up-button @click="scrollToTop" />
        </div>
    </section>
</template>
