<script setup lang="ts">
    import { useColorMode } from '@vueuse/core';
    import { useLanguage } from '../../../composables/useLanguage';
    import { FwbSelect } from 'flowbite-vue';

    const colorMode = useColorMode({
        emitAuto: true,
        modes: {
            contrast: 'dark contrast',
            cafe: 'cafe',
        },
    });
    const colorModes = [
        { value: 'auto', name: 'System' },
        { value: 'light', name: 'Light' },
        { value: 'dark', name: 'Dark' },
        { value: 'contrast', name: 'Contrast' },
        { value: 'cafe', name: 'Cafe' },
    ];

    const { t, language, languages } = useLanguage();
</script>

<template>
    <section class="container w-full min-h-screen mx-auto p-4 md:p-6">
        <div class="pb-8 prose lg:prose-xl dark:prose-invert">
            <h2>{{ t('app.pages.settings.title') }}</h2>
        </div>
        <article
            class="grid grid-flow-col grid-cols-1 grid-rows-7 gap-4 sm:grid-cols-2 lg:grid-cols-4"
        >
            <fwb-select
                v-model="language"
                :options="languages"
                :placeholder="t('app.components.select.placeholder')"
                :label="t('app.pages.settings.language')"
            />
            <fwb-select
                v-model="colorMode"
                :options="colorModes"
                :placeholder="t('app.components.select.placeholder')"
                :label="t('app.pages.settings.colorMode')"
            />
        </article>
    </section>
</template>
