<docs lang="md">
#
</docs>

<script lang="ts" setup>
    import WiseCatsApp from 'wise-cats-spa/src/components/app/App.vue';
</script>

<template>
    <Story title="App" group="app">
        <Variant title="Default">
            <WiseCatsApp />
        </Variant>
    </Story>
</template>
