<docs lang="md">
# WiseCatList

A list of wise cats.
</docs>

<script lang="ts" setup>
    import { logEvent } from 'histoire/client';
    import { useI18n } from 'vue-i18n';

    import { FwbButton, FwbSpinner, FwbAvatar } from 'flowbite-vue';

    import { useWiseCatsStore } from 'wise-cats-spa/src/stores/wise-cats';
    import WiseCatList from 'wise-cats-spa/src/components/app/WiseCatList.vue';
    import ErrorIcon from 'wise-cats-spa/src/components/app/icons/Error.vue';
    import EmptyIcon from 'wise-cats-spa/src/components/app/icons/Empty.vue';

    import { someWiseCats } from 'wise-cats-spa/test/data';

    const store = useWiseCatsStore();
    const { t } = useI18n();
</script>

<template>
    <Story title="Wise cat list" group="app">
        <Variant title="Normal (live data)">
            <div class="flex flex-col gap-4">
                <wise-cat-list
                    :wise-cats="store.wiseCats"
                    loading="off"
                    :error="store.wiseCatsError"
                />
                <fwb-button
                    class="flex items-center justify-center self-center gap-2 w-48"
                    :loading="store.isFetchingWiseCats"
                    @click="store.getWiseCats"
                >
                    {{ t('app.actions.loadMore') }}
                </fwb-button>
            </div>
        </Variant>
        <Variant title="Normal (test data)">
            <wise-cat-list
                :wise-cats="someWiseCats"
                :loading="false"
                :error="undefined"
                @more="logEvent('Clicked \'more\'', $event)"
            />
        </Variant>
        <Variant title="Custom (test data)">
            <wise-cat-list
                :wise-cats="someWiseCats"
                :loading="false"
                :error="undefined"
                @more="logEvent('Clicked \'more\'', $event)"
            >
                <template #default="{ wisecat }">
                    <fwb-avatar
                        :img="wisecat.url"
                        size="xl"
                        rounded
                        bordered
                    />
                </template>
            </wise-cat-list>
        </Variant>
        <Variant title="Empty (default)">
            <wise-cat-list
                :wise-cats="[]"
                :loading="false"
                :error="undefined"
            />
        </Variant>
        <Variant title="Empty (custom)">
            <wise-cat-list
                :wise-cats="[]"
                :loading="false"
                :error="undefined"
            >
                <template #empty>
                    <div
                        class="flex flex-col items-center justify-center gap-4 w-full h-full prose dark:prose-invert max-w-none"
                    >
                        <empty-icon class="w-32 h-32" />
                        <div class="mb-4">
                            {{ t('app.data.noData') }}
                        </div>
                        <fwb-button
                            @click="logEvent('Clicked \'go home\'', $event)"
                            >{{ t('app.actions.goHome') }}
                        </fwb-button>
                    </div>
                </template>
            </wise-cat-list>
        </Variant>
        <Variant title="Loading (default)">
            <wise-cat-list
                :wise-cats="store.wiseCats"
                :loading="true"
                :showLoading="true"
                :error="undefined"
            />
        </Variant>
        <Variant title="Loading (custom)">
            <wise-cat-list
                :wise-cats="store.wiseCats"
                :loading="true"
                :showLoading="true"
                :error="undefined"
            >
                <template #loading>
                    <div
                        class="flex items-center justify-center gap-4 w-full h-full prose dark:prose-invert max-w-none"
                    >
                        <fwb-spinner /> {{ t('app.components.loading') }}
                    </div>
                </template>
            </wise-cat-list>
        </Variant>
        <Variant title="Error (default)">
            <wise-cat-list
                :wise-cats="store.wiseCats"
                :loading="false"
                error="Cannot fetch wise cats."
            />
        </Variant>
        <Variant title="Error (custom)">
            <wise-cat-list
                :wise-cats="store.wiseCats"
                :loading="false"
                error="Cannot fetch wise cats."
            >
                <template #error>
                    <slot name="error">
                        <div
                            class="flex flex-col items-center justify-center gap-4 w-full h-full prose dark:prose-invert max-w-none"
                        >
                            <error-icon class="w-32 h-32" />
                            <div class="mb-4">
                                {{ t('app.data.fetchError') }}
                            </div>
                            <fwb-button
                                @click="
                                    logEvent('Clicked \'reload\'', $event)
                                "
                                >{{ t('app.actions.reload') }}
                            </fwb-button>
                        </div>
                    </slot>
                </template>
            </wise-cat-list>
        </Variant>
    </Story>
</template>
