<docs lang="md">
# WiseCatCard

An image of a cat uttering a (probably) wise saying.
</docs>

<script lang="ts" setup>
    import WiseCatCard from 'wise-cats-spa/src/components/app/WiseCatCard.vue';
    import { someWiseCats } from 'wise-cats-spa/test/data';
</script>

<template>
    <Story
        title="Wise cat card"
        group="app"
        :layout="{ type: 'grid', width: 400 }"
    >
        <Variant title="BSD/Linux fortune">
            <wise-cat-card :wisecat="someWiseCats[0]" />
        </Variant>
        <Variant title="Coin flip">
            <wise-cat-card :wisecat="someWiseCats[1]" />
        </Variant>
        <Variant title="Crystal ball">
            <wise-cat-card :wisecat="someWiseCats[2]" />
        </Variant>
        <Variant title="BOFH excuse">
            <wise-cat-card :wisecat="someWiseCats[3]" />
        </Variant>
        <Variant title="Github Zen">
            <wise-cat-card :wisecat="someWiseCats[4]" />
        </Variant>
        <Variant title="Procrastination slogan">
            <wise-cat-card :wisecat="someWiseCats[5]" />
        </Variant>
    </Story>
</template>
