<script setup lang="ts">
    import { computed } from 'vue';
    import UnstyledButton from '../../unstyled/input/Button.vue';

    const props = withDefaults(
        defineProps<{
            kind?: 'default' | 'text' | 'outline';
            role?:
                | 'primary'
                | 'secondary'
                | 'success'
                | 'error'
                | 'warning'
                | 'info';
            size?: 'small' | 'medium' | 'large';
            disabled?: boolean;
        }>(),
        {
            kind: 'default',
            role: 'primary',
            size: 'medium',
            disabled: false,
        }
    );

    // common classes

    const commonClasses = [
        'flex',
        'items-center',
        'justify-center',
        'font-semibold',
        'text-neutral-800',
        'dark:text-neutral-100',
        'border-2',
        'border-solid',
        'rounded-md',
        'uppercase',
        'transition',
    ];

    const neutralTextClasses = ['text-neutral-800', 'dark:text-neutral-100'];

    const neutralBackgroundClasses = [
        'hover:bg-neutral-100',
        'active:bg-neutral-300',
        'dark:hover:bg-neutral-800',
        'dark:active:bg-neutral-900',
    ];

    const neutralBorderClasses = [
        'hover:border-neutral-100',
        'active:border-neutral-300',
        'dark:hover:border-neutral-800',
        'dark:active:border-neutral-900',
    ];

    const primaryTextClasses = [
        'text-primary-500',
        'hover:text-primary-600',
        'active:text-primary-700',
        'dark:text-primary-500',
        'dark:hover:text-primary-600',
        'dark:active:text-primary-700',
    ];

    const primaryBackgroundClasses = [
        'bg-primary-500',
        'hover:bg-primary-600',
        'active:bg-primary-700',
        'dark:bg-primary-700',
        'dark:hover:bg-primary-800',
        'dark:active:bg-primary-900',
    ];

    const primaryBorderClasses = [
        'border-primary-500',
        'hover:border-primary-600',
        'active:border-primary-700',
        'dark:border-primary-700',
        'dark:hover:border-primary-800',
        'dark:active:border-primary-900',
    ];

    const disabledTextClasses = ['text-neutral-400'];
    const disabledBackgroundClasses = ['bg-neutral'];

    // kinds

    // sizes

    const smallClasses = ['px-2', 'py-1', 'text-sm'];
    const mediumClasses = ['px-4', 'py-2'];
    const largeClasses = ['px-8', 'py-4', 'text-lg'];

    // states

    const classes = computed(() => [
        ...commonClasses,
        ...(props.kind === 'text'
            ? [...neutralTextClasses, ...neutralBackgroundClasses]
            : props.kind === 'outline'
            ? [
                  ...primaryTextClasses,
                  ...neutralBackgroundClasses,
                  ...primaryBorderClasses,
              ]
            : [
                  ...neutralTextClasses,
                  ...primaryBackgroundClasses,
                  ...primaryBorderClasses,
                  'shadow',
              ]),
        ...(props.size === 'small'
            ? smallClasses
            : props.size === 'large'
            ? largeClasses
            : mediumClasses),
    ]);
</script>

<template>
    <UnstyledButton :class="classes">
        <slot></slot>
    </UnstyledButton>
</template>
