.default {
    padding: 1rem 2rem;
    color: white;
    background-color: blueviolet;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
}

.disabled {
    background-color: #777;
}