<template>
  <v-list class="followings" v-if="followings.length > 0">
    <user v-for="following in followings" :key="following.id" :user="following"></user>
  </v-list>
  <v-list v-else>
    <v-list-item>
      <v-list-item-subtitle>Ничего не найдено</v-list-item-subtitle>
    </v-list-item>
  </v-list>
</template>

<script>
import User from "@/components/User.vue";

export default {
  name: "Followings",
  props: ["followings"],
  components: {
    User
  }
};
</script>
