<template>
  <v-list-item class="repository">
    <v-list-item-content>
      <v-list-item-title>
        <a :href="repository.html_url">{{ repository.name }}</a>
        <v-chip class="float-right" x-small outlined>
          <a :href="repository.clone_url">клонировать</a>
        </v-chip>
      </v-list-item-title>
      <v-list-item-subtitle>Создан: {{ creationDate }}</v-list-item-subtitle>
      <v-list-item-subtitle>Описание: {{ repository.description || "нет" }}</v-list-item-subtitle>
      <v-list-item-subtitle>Языки: {{ languagesString }}</v-list-item-subtitle>
    </v-list-item-content>
  </v-list-item>
</template>

<script>
import Axios from "axios";
import { formatLocalDate } from "@/modules";

export default {
  name: "Repository",
  props: ["repository"],
  data: () => ({
    repositoryLanguages: []
  }),
  computed: {
    languagesString() {
      return Object.keys(this.repositoryLanguages).join(", ");
    },
    creationDate() {
      return formatLocalDate(this.repository.created_at);
    }
  },
  methods: {
    async getLanguages() {
      let { data } = await Axios.get(this.repository.languages_url);
      this.repositoryLanguages = data;
    }
  },
  async mounted() {
    await this.getLanguages();
  }
};
</script>
