<template>
  <v-list class="repositories" two-line v-if="repositories.length > 0">
    <repository v-for="repository in repositories" :key="repository.id" :repository="repository"></repository>
  </v-list>
  <v-list v-else>
    <v-list-item>
      <v-list-item-subtitle>Ничего не найдено</v-list-item-subtitle>
    </v-list-item>
  </v-list>
</template>

<script>
import Repository from "@/components/Repository.vue";

export default {
  name: "Repositories",
  props: ["repositories"],
  components: {
    Repository
  }
};
</script>
