<template>
  <v-list class="team-candidates">
    <v-list-item>
      <v-text-field
        v-model="searchQuery"
        label="Искать по логину"
        append-icon="mdi-keyboard-return"
        hint="нажмите Enter"
        @keyup.enter="doUserSearch"
      ></v-text-field>
    </v-list-item>
    <team-candidate
      v-for="candidate in teamCandidates"
      :key="candidate.id"
      :teamCandidate="candidate"
    ></team-candidate>
    <v-list-item v-if="teamCandidates.length === 0">
      <v-list-item-subtitle>Ничего не найдено</v-list-item-subtitle>
    </v-list-item>
  </v-list>
</template>

<script>
import TeamCandidate from "@/components/TeamCandidate.vue";
import { actionTypes } from "@/store";

export default {
  name: "TeamCandidates",
  props: ["teamCandidates"],
  components: {
    TeamCandidate
  },
  data: () => ({
    searchQuery: ""
  }),
  methods: {
    doUserSearch() {
      this.$store.dispatch(actionTypes.SET_TEAM_CANDIDATES, this.searchQuery);
    }
  }
};
</script>
