<template>
  <v-list-item class="team-member" @click="addToTeam">
    <user class="team-candidate" :user="teamCandidate"></user>
  </v-list-item>
</template>

<script>
import User from "@/components/User.vue";
import { actionTypes } from "@/store";

export default {
  name: "TeamCandidate",
  props: ["teamCandidate"],
  components: {
    User
  },
  methods: {
    addToTeam() {
      this.$store.dispatch(actionTypes.ADD_TEAM_MEMBER, this.teamCandidate);
    }
  }
};
</script>
