<template>
  <v-list-item class="team-member" @click="removeFromTeam">
    <user :user="teamMember"></user>
  </v-list-item>
</template>

<script>
import User from "@/components/User.vue";
import { actionTypes } from "@/store";

export default {
  name: "TeamMember",
  props: ["teamMember"],
  components: {
    User
  },
  methods: {
    removeFromTeam() {
      this.$store.dispatch(actionTypes.REMOVE_TEAM_MEMBER, this.teamMember.id);
    }
  }
};
</script>
