<template>
  <v-list
    class="team-members"
    v-if="teamMembers.length > 0">
    <v-list-item>
      <v-chip
        close
        :close-icon="sortingOrderDescending ? 'mdi-chevron-down' : 'mdi-chevron-up'"
        outlined
        @click="toggleSortingOrder">
        Сортировать по логину
      </v-chip>
    </v-list-item>
    <team-member
      v-for="member in sortedTeamMembers"
      :key="member.id"
      :teamMember="member">
    </team-member>
  </v-list>
  <v-list
    v-else>
    <v-list-item>
      <v-list-item-subtitle>Сейчас в команде никого нет</v-list-item-subtitle>
    </v-list-item>
  </v-list>
</template>

<script>
import TeamMember from '@/components/TeamMember.vue'

export default {
  name: 'TeamMembers',
  props: ['teamMembers'],
  components: {
      TeamMember
  },
  data: () => ({
    sortingOrderDescending: true
  }),
  computed: {
    sortedTeamMembers() {
      return this.teamMembers
        .slice()
        .sort(
          this.sortingOrderDescending ?
          (a, b) => b.login.localeCompare(a.login) :
          (a, b) => a.login.localeCompare(b.login)
        )
    }
  },
  methods: {
    toggleSortingOrder() {
      this.sortingOrderDescending = !this.sortingOrderDescending
    }
  }
};
</script>
