<template>
  <v-list-item class="user">
    <v-list-item-avatar>
      <v-img :src="user.avatar_url" />
    </v-list-item-avatar>
    <v-list-item-content>
      <v-list-item-content>
        <v-list-item-title>
          <a :href="user.html_url">{{ user.login }}</a>
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item-content>
  </v-list-item>
</template>

<script>
export default {
  name: "User",
  props: ["user"]
};
</script>
