<template>
  <v-card class="user-profile mx-auto">
    <v-img :src="userProfile.avatar_url"></v-img>
    <v-card-title>
      <a :href="userProfile.html_url">{{ userProfile.login }}</a>
    </v-card-title>
    <v-card-subtitle>Зарегистрирован {{ creationDate }}</v-card-subtitle>
  </v-card>
</template>

<script>
import { formatLocalDate } from "@/modules";

export default {
  name: "UserProfile",
  props: ["userProfile"],
  computed: {
    creationDate() {
      return formatLocalDate(this.userProfile.created_at);
    }
  }
};
</script>
