<template>
  <v-container class="user-profile-view app__user-profile-view">
    <v-row>
      <v-col lg="4" md="6" sm="12" xs="12">
        <user-profile
          class="user-profile-card user-profile-view__user-profile-card"
          :userProfile="userProfile"
          v-if="isUserProfileLoaded"
          transition="scale-transition"
        ></user-profile>
        <v-skeleton-loader v-else type="card-avatar"></v-skeleton-loader>
      </v-col>
      <v-col lg="4" md="6" sm="12" xs="12">
        <v-card
          class="repositories-card user-profile-view__repositories-card mx-auto"
          v-if="areRepositoriesLoaded"
          transition="scale-transition"
        >
          <v-card-title>Репозитории</v-card-title>
          <v-divider></v-divider>
          <repositories
            class="repositories-list repositories-card__repositories-list"
            :repositories="repositories"
          ></repositories>
        </v-card>
        <v-skeleton-loader v-else type="list-item-avatar@5"></v-skeleton-loader>
      </v-col>
      <v-col lg="4" md="6" sm="12" xs="12">
        <v-card
          class="followings-card user-profile-view__followings-card mx-auto"
          v-if="areFollowingsLoaded"
          transition="scale-transition"
        >
          <v-card-title>Подписки</v-card-title>
          <v-divider></v-divider>
          <followings
            class="followings-list followings-card__followings-list"
            :followings="followings"
          ></followings>
        </v-card>
        <v-skeleton-loader v-else type="list-item-avatar@5"></v-skeleton-loader>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// @ is an alias to /src
import UserProfile from "@/components/UserProfile.vue";
import Repositories from "@/components/Repositories.vue";
import Followings from "@/components/Followings.vue";
import { actionTypes } from "@/store";

export default {
  name: "Profile",
  components: {
    UserProfile,
    Repositories,
    Followings
  },
  data: () => ({}),
  async mounted() {
    await this.$store.dispatch(actionTypes.SET_USER_PROFILE);
    await this.$store.dispatch(actionTypes.SET_REPOSITORIES);
    await this.$store.dispatch(actionTypes.SET_FOLLOWINGS);
  },
  methods: {},
  computed: {
    userProfile() {
      return this.$store.getters.USER_PROFILE;
    },
    repositories() {
      return this.$store.getters.REPOSITORIES;
    },
    followings() {
      return this.$store.getters.FOLLOWINGS;
    },
    isUserProfileLoaded() {
      return !!this.userProfile.login;
    },
    areRepositoriesLoaded() {
      // FIXME: cannot distinguish between
      // failed delivery and empty repos list
      return !!this.repositories.length > 0;
    },
    areFollowingsLoaded() {
      // FIXME: cannot distinguish between
      // failed delivery and empty followings list
      return !!this.followings.length > 0;
    }
  }
};
</script>
