<template>
  <v-container class="team-view app__team-view">
    <v-row>
      <v-col>
        <v-card class="team-members-card team-view__team-members-card mx-auto">
          <v-card-title>Команда</v-card-title>
          <v-card-subtitle>Нажмите, чтобы удалить из команды</v-card-subtitle>
          <v-divider></v-divider>
          <team-members :teamMembers="teamMembers"></team-members>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="team-candidates-card team-view__team-candidates-card mx-auto">
          <v-card-title>Кандидаты</v-card-title>
          <v-card-subtitle>Нажмите, чтобы добавить в команду</v-card-subtitle>
          <v-divider></v-divider>
          <team-candidates :teamCandidates="teamCandidates"></team-candidates>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// @ is an alias to /src
import TeamMembers from "@/components/TeamMembers.vue";
import TeamCandidates from "@/components/TeamCandidates.vue";
import { actionTypes } from "@/store";

export default {
  name: "Team",
  components: {
    TeamMembers,
    TeamCandidates
  },
  async mounted() {
    await this.$store.dispatch(actionTypes.SET_TEAM_CANDIDATES);
  },
  computed: {
    teamMembers() {
      return this.$store.getters.TEAM_MEMBERS;
    },
    teamCandidates() {
      return this.$store.getters.TEAM_CANDIDATES;
    }
  }
};
</script>
