<script setup lang="ts">
    import {
        FwbFooter,
        FwbFooterCopyright,
        FwbFooterLink,
        FwbFooterLinkGroup,
    } from 'flowbite-vue';
    defineProps(['copyright', 'links']);
</script>

<template>
    <fwb-footer class="rounded-none">
        <fwb-footer-copyright
            :by="copyright.by"
            :href="copyright.url"
            :copyright-message="copyright.message"
        />
        <fwb-footer-link-group>
            <fwb-footer-link v-for="link in links" :href="link.url">
                {{ link.title }}
            </fwb-footer-link>
        </fwb-footer-link-group>
    </fwb-footer>
</template>
