<script setup lang="ts">
    import { useRouter, RouterLink } from 'vue-router';
    import { useI18n } from 'vue-i18n';

    import {
        FwbNavbar,
        FwbNavbarCollapse,
        FwbNavbarLink,
        FwbNavbarLogo,
    } from 'flowbite-vue';

    defineProps(['title', 'logo']);

    const routes = useRouter().getRoutes();
    const { t } = useI18n();
</script>

<template>
    <header>
        <fwb-navbar solid>
            <template #logo>
                <fwb-navbar-logo
                    alt="Logo"
                    :image-url="logo"
                    link-attr=""
                    class="dark:text-white"
                >
                    <router-link to="/">
                        {{ title }}
                    </router-link>
                </fwb-navbar-logo>
            </template>
            <template #default="{ isShowMenu }">
                <fwb-navbar-collapse :is-show-menu="isShowMenu">
                    <router-link
                        v-for="route in routes"
                        :key="route.name"
                        :to="route.path"
                    >
                        <template #default="{ isActive }">
                            <fwb-navbar-link
                                link-attr=""
                                :is-active="isActive"
                            >
                                {{ t(`app.nav.${String(route.name)}`) }}
                            </fwb-navbar-link>
                        </template>
                    </router-link>
                </fwb-navbar-collapse>
            </template>
        </fwb-navbar>
    </header>
</template>
