<script setup lang="ts"></script>

<template>
    <div class="bg-gray-50 dark:bg-gray-800 text-gray-700 dark:text-white">
        <slot name="header" />
        <main>
            <slot name="main" />
        </main>
        <slot name="footer" />
    </div>
</template>
