<script setup lang="ts">
    // import { Suspense } from 'vue';
</script>

<template>
    <!-- <Suspense> -->
    <!-- <template #default> -->
    <div class="p-4">
        <slot />
    </div>
    <!-- </template> -->
    <!-- <template #fallback>Loading (global)...</template> -->
    <!-- </Suspense> -->
</template>
