<script setup lang="ts">
    import { computed, ref } from 'vue';
    import { useUrl } from './useUrl';

    const baseUrl = 'http://fakestoreapi.com/products/';
    const id = ref(0);
    const url = computed(() => baseUrl + id);

    const { data } = useUrl(url);
    defineProps<{ id: number; data: unknown }>();
</script>

<template>
    <input type="number" v-model="id" />
    <div>{{ data }}</div>
</template>
