.accent {
    color: green;
    text-transform: uppercase;
}

.emphasis {
    font-weight: bold;
}

.success {
    color: green;
}

.warn {
    color: orange;
}

.error {
    color: red;
}

.separator {
    height: 2rem;
}
