.page {}
.page__header {
    padding: 1em;
    color: #eee;
    background-color: #777;
}
.page__content {}
.page__footer {}


.header {}
.header__title {}
.header__subtitle {
    font-style: italic;
}


.app {
    display: flex;
    flex-direction: column;
}
.app__content {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-left: 2px solid #777;
    border-right: 2px solid #777;
}
.app__toolbar {
    border-bottom: 2px dotted #777;
}
.app__canvas {
    margin: 0 auto;
    margin-top: 1em;
    /* defaults */
    width: 300px;
    height: 150px;
}
.app__guide {
    padding: 1em;
    border-right: 2px solid #777;
    border-left: 2px solid #777;
}
.app__guide_mobile {
    display: flex;
    flex-direction: column;
}
.app__guide_desktop {
    display: none;
}
.app__button {
    margin: 0 0.5em 0 0.5em;
}
.app__button_mobile {
    height: 3em;
    margin: 0.5em;
}
.app__save-button {}
.app__clear-button {}
.app__clear-all-button {}


.toolbar {}
.toolbar__item {
    border-top: 2px dotted #777;
}


.tool {
    padding: 0.5em 0 1em 0;
}
.tool__label {
    display: block;
    padding-bottom: 0.5em;
}
.tool__control {
    width: 100%;
}
.tool__brush-color {}
.tool__brush-width {}


.canvas {
    border: 1px solid #777;
}
.canvas__alternate-content {}


.guide {}
.guide__article {
    background-color: #eee;
    border-left: 3px solid #777;
    border-right: 3px solid #777;
}


.article {
    padding: 0.7em;
}


.footer {
    padding: 1em;
    color: #eee;
    background-color: #777;
}
.footer__copyright {}


.copyright {}


@media only screen and (min-width: 480px) {
    .app {
        flex-direction: row;
    }
    .app__guide {
        border-left: none;
    }
    .app__guide_mobile {
        display: none;
    }
    .app__guide_desktop {
        display: block;
    }
}
