<script setup lang="ts">
    import { useLanguage } from '../../composables/useLanguage';
    import { useColorMode } from '@vueuse/core';
    import { RouterView } from 'vue-router';

    import AppLayout from './shell/Layout.vue';
    import AppHeader from './shell/Header.vue';
    import AppFooter from './shell/Footer.vue';

    const logo = '/fire.svg';

    // TODO: extract color mode settings into config
    useColorMode({
        emitAuto: true,
        modes: {
            contrast: 'dark contrast',
            cafe: 'cafe',
        },
    });

    const { t } = useLanguage();
</script>

<template>
    <app-layout>
        <template #header>
            <app-header :title="t('app.title')" :logo="logo" />
        </template>
        <template #main>
            <router-view />
        </template>
        <template #footer>
            <app-footer
                :copyright="{
                    by: t('app.footer.copyright.by'),
                    url: t('app.footer.copyright.url'),
                    message: t('app.footer.copyright.message'),
                }"
                :links="[
                    {
                        title: t('app.footer.links.gitlab'),
                        url: 'https://gitlab.com/users/kpglv',
                    },
                    {
                        title: t('app.footer.links.catapi'),
                        url: 'https://thecatapi.com',
                    },
                    {
                        title: t('app.footer.links.fortunesapi'),
                        url: 'https://www.fortune.ninja',
                    },
                ]"
            />
        </template>
    </app-layout>
</template>

<style>
    html.cafe {
        filter: sepia(0.9) hue-rotate(315deg) brightness(0.9);
    }

    html.contrast {
        filter: contrast(2);
    }
</style>
