<script setup lang="ts">
    import { FwbButton } from 'flowbite-vue';
    import ChevronUpIcon from './icons/ChevronUp.vue';
</script>

<template>
    <fwb-button outline pill square>
        <chevron-up-icon class="w-5 h-5" />
        <slot />
    </fwb-button>
</template>
