<script setup lang="ts">
    import WiseCatCard from './WiseCatCard.vue';
    import type { WiseCat } from '../../domain/WiseCat';

    defineProps<{
        wiseCats: WiseCat[];
        loading?: boolean | 'off';
        error?: unknown;
    }>();
</script>

<template>
    <Transition
        enter-active-class="duration-300 ease-out"
        enter-from-class="transform opacity-0"
        enter-to-class="opacity-100"
        leave-active-class="duration-200 ease-in"
        leave-from-class="opacity-100"
        leave-to-class="transform opacity-0"
    >
        <div>
            <!-- loading state; do not display if 'loading' prop
                is set to "off" -->
            <div v-if="loading && loading !== 'off'">
                <slot name="loading">
                    <span class="prose dark:prose-invert max-w-none">
                        Loading, please wait...
                    </span>
                </slot>
            </div>

            <!-- error state -->
            <div v-else-if="!loading && error">
                <slot name="error">
                    <span class="prose dark:prose-invert max-w-none">
                        Error: {{ error }}
                    </span>
                </slot>
            </div>

            <!-- empty state -->
            <div v-else-if="!loading && !wiseCats.length">
                <slot name="empty">
                    <span class="prose dark:prose-invert max-w-none">
                        There is nothing here yet.
                    </span>
                </slot>
            </div>

            <!-- normal state -->
            <div
                v-else
                class="grid grid-flow-row grid-cols-1 content-center items-center justify-center justify-items-center gap-4 md:grid-cols-2 lg:grid-cols-4"
            >
                <slot v-for="wisecat in wiseCats" :wisecat="wisecat">
                    <wise-cat-card :key="wisecat.id" :wisecat="wisecat" />
                </slot>
            </div>
        </div>
    </Transition>
</template>
