<script setup lang="ts">
    import sanitize from 'sanitize-html';
    import type { WiseCat } from '../../domain/WiseCat';
    import { FwbCard } from 'flowbite-vue';

    defineProps<{ wisecat: WiseCat }>();
</script>

<template>
    <fwb-card :img-src="wisecat.url" variant="image">
        <div class="p-4">
            <p
                class="font-semibold text-gray-700 dark:text-gray-400"
                v-html="sanitize(wisecat.phrase)"
            />
        </div>
    </fwb-card>
</template>
