<template>
    <q-page class="f-page-404 column justify-center bg-primary text-white text-center">
        <div>
            <div class="f-page-404__status">404</div>

            <div class="f-page-404__message text-h2">
                {{ $t('app.pages.error404.title') }}
            </div>

            <q-btn class="q-mt-xl" color="white" text-color="blue" unelevated to="/" :label="$t('app.navigation.goHome')"
                no-caps />
        </div>
    </q-page>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
    name: 'Error404',
});
</script>

<style lang="scss">
.f-page-404 {
    &__status {
        font-size: 30vh;
    }

    &__message {
        opacity: 0.4;
    }
}
</style>
