<template>
    <q-page padding class="row justify-center">
        <div class="col col-11">
            <div class="text-h4 q-py-md">{{ $t("app.pages.index.title") }}</div>
            <message-list :messages="messages"></message-list>
        </div>
    </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import useAlert from 'composables/useAlert';
import MessageList from 'components/MessageList.vue';
import { mapGetters } from 'vuex';

export default defineComponent({
    name: 'Index',
    components: {
        MessageList,
    },
    props: {
        code: {
            type: String,
        },
        error: {
            type: String,
        },
        error_description: {
            type: String,
        },
        error_uri: {
            type: String,
        },
        to: {
            type: String,
        },
    },
    setup() {
        const alert = useAlert();
        return { alert };
    },
    data: () => ({}),
    computed: {
        ...mapGetters('example', ['messages']),
    },
    methods: {},
});
</script>
