<template>
    <q-page padding class="row justify-center">
        <div class="col col-11">
            <div class="text-h4 q-py-md">
                {{ $t(`app.sections.${sectionId}.title`) }}
                <template v-if="resourceId">:{{ resourceId }}</template>
            </div>

            <resource-card v-if="sectionId === 'private'" :resource="restrictedResource">
            </resource-card>

        </div>
    </q-page>
</template>

<script>
import useAlert from 'composables/useAlert';
import { mapActions, mapGetters } from 'vuex';
import ResourceCard from 'components/ResourceCard.vue';

export default {
    name: 'Resources',
    components: {
        ResourceCard,
    },
    props: {
        sectionId: {
            type: String,
        },
        resourceId: {
            type: Number,
        },
    },
    setup: () => {
        const alert = useAlert();
        return { alert };
    },
    methods: {
        ...mapActions('app', ['login']),
        ...mapActions('example', ['getPublicResource', 'getRestrictedResource']),
        /**
         * Execute section-specific actions.
         * @param {string} sectionId .
         */
        initSection(sectionId) {
            const section = this.sections.find((s) => s.id === sectionId);
            /*
            if (section && (!this.isAuthenticated && section.requireAuth)) {
                this.login();
            }

            if (sectionId === 'public') {
                this.getPublicResource();
            }

            if (sectionId === 'private') {
                this.getRestrictedResource();
            }
            */
        },
    },
    computed: {
        ...mapGetters('app', ['isAuthenticated']),
        ...mapGetters('example', ['sections', 'publicResource', 'restrictedResource']),
    },
    mounted() {
        this.initSection(this.sectionId);
    },
    beforeRouteUpdate(to) {
        this.initSection(to.params.sectionId);
        return true;
    },
};
</script>
