<template>
    <q-page padding class="row justify-center">
        <div class="col col-11">
            <div class="text-h4 q-py-md">{{ $t('app.pages.searchResults.title') }}</div>
            <!-- TODO: content -->
        </div>
    </q-page>
</template>

<script>
import useAlert from 'composables/useAlert';

export default {
    name: 'SearchResults',
    setup: () => {
        const alert = useAlert();
        return { alert };
    },
};
</script>
