<template>
    <q-page padding class="row justify-center">
        <div class="col col-11">
            <div class="text-h4 q-py-md">
                {{ $t('app.pages.settings.title') }}
            </div>
            <div>
                <q-list bordered separator>
                    <q-item>
                        <q-item-section>{{ $t('settings.language') }}</q-item-section>
                        <q-item-section>
                            <q-select map-options emit-value :options="availableSettings.language.options"
                                :model-value="settings?.language || availableSettings.language.default"
                                @update:modelValue="updateLanguage" />
                        </q-item-section>
                    </q-item>
                </q-list>
            </div>
        </div>
    </q-page>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
    name: 'Settings',
    data() {
        return {
            newSettings: {
                language: '',
            },
        };
    },
    methods: {
        ...mapActions('app', ['updateSettings', 'applySettings']),
        updateLanguage(newValue) {
            this.updateSettings({
                settings: {
                    ...this.settings,
                    language: newValue,
                },
            });
            this.applySettings();
        },
    },
    computed: {
        ...mapGetters('app', ['user', 'settings', 'availableSettings']),
    },
};
</script>
